@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-Regular.woff');
}

@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-Bold.woff');
	font-weight: bold;
}

@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-BoldItalic.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-Italic.woff');
	font-style: italic;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'clearsans';
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

.border-primary {
	border-color: #777;
}

.background-secondary {
	background: #ccc;
}

.icon-button {
	width: 24px;
	height: 24px;
}

.icon-button:hover {
	background: #777;
}

.horizontal-split .first {
	float: left;
	width: 30%;
	height: 100%;
}

.horizontal-split .divider {
	float: left;
	width: 6px;
	height: 100%;
	margin-left: -4px;
	border-right-style: solid;
	border-right-width: 2px;
}

.horizontal-split .second {
	float: left;
	width: calc(70% - 2px);
	height: 100%;
}

.panel-header {
	width: 100%;
	height: 36px;

	border-bottom-style: solid;
	border-bottom-width: 1px;

	padding: 6px 12px;
}

.panel-header-component {
	float: left;
}

.panel-header-headline {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 30px);
	margin-left: 6px;
}

.panel-header h2 {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.panel-content {
	width: 100%;
	height: calc(100% - 37px);

	overflow-y: scroll;
}

.connection-status-panel {
	padding: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.connection-status-panel .connection-status-icon {
}

.connection-status-details {
	position: absolute;
	bottom: 36px;
	left: 12px;

	width: 250px;
	overflow-x: auto;

	background: white;
	border: 2px solid #777;
	padding: 0.5em 1em;
}

.connection-status-details .connection-status-icon {
	width: 16px;
	height: 16px;
}

.menu-overlay {
	z-index: 100;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background: rgba(255, 255, 255, 0.5);
}