@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-Regular.woff');
}

@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-Bold.woff');
	font-weight: bold;
}

@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-BoldItalic.woff');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'clearsans';
	src: url('res:///style/font/ClearSans-Italic.woff');
	font-style: italic;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'clearsans';
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

.horizontal-split .first {
	float: left;
	height: 100%;
}

.horizontal-split .divider {
	float: left;
	width: 6px;
	height: 100%;
	margin-left: -4px;
	border-right: 2px solid #777;
}

.horizontal-split .second {
	float: left;
	height: 100%;
}